{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{artifact.title}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td><strong>Type</strong></td>
                        <td>{{artifact.type}}</td>
                    </tr>
                    <tr>
                        <td><strong>Dimensions</strong></td>
                        <td>{{artifact.dimensions}}</td>
                    </tr>
                    <tr>
                        <td><strong>Dated</strong></td>
                        <td>{{artifact.dated}}</td>
                    </tr>
                    <tr>
                        <td><strong>Artist</strong></td>
                        <td>{{artifact.Artist.name}}</td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td>{{artifact.description}}</td>
                    </tr>
                    <tr>
                        <td><strong>Medium</strong></td>
                        <td>{{artifact.medium}}</td>
                    </tr>
                    <tr>
                        <td><strong>ID</strong></td>
                        <td>{{artifact.id}}</td>
                    </tr>
                    <tr>
                        <td><strong>Exhibition</strong></td>
                        <td>{{{exhibitionRender artifact.Exhibition}}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="{{artifact.image}}" style="width:75%;height:75%">
        </div>
    </div>

    <br><br>

    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: large">Extra Content</div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#audio" data-toggle="tab">Audio</a>
                </li>
                <li><a href="#video" data-toggle="tab">Video</a>
                </li>
                <li><a href="#images" data-toggle="tab">Images</a>
                </li>
                <li><a href="#text" data-toggle="tab">Text</a>
                </li>
            </ul>
            <div class="tab-content">


                <!-- AUDIO -->
                <div class="tab-pane fade in active" id="audio">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                {{#each artifact.Audibles}}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseAudio{{id}}">{{title}}</a>
                                            </h4>
                                        </div>
                                        <div id="collapseAudio{{id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>{{title}}</p>
                                                <p>Language: {{language lang}}</p>
                                                <p>{{description}}</p>

                                                <audio controls>
                                                    <source id={{id}} src={{link}} type="audio/mpeg">
                                                    Your browser does not support the audio element.
                                                </audio>
                                                <br>
                                                <div class="row">
                                                    <div class="col-lg-1"><p><a href="/artifact/{{../artifact.id}}/audio/{{id}}"><button class="btn btn-primary">Edit</button></a></p></div>

                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseAudioUpload">Upload File</a>
                                        </h4>
                                    </div>
                                    <div id="collapseAudioUpload" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <form role="form" action="/upload_audio" method="post" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label>New audio:</label>
                                                    <input required class="form-control" placeholder="Title" name="title" style="width: 50%;">
                                                    <input hidden="true" name="ArtifactId" value="{{artifact.id}}">
                                                    <br>
                                                    <input class="form-control" placeholder="Description" name="description" style="width: 50%;">
                                                    <br>
                                                    <select name="lang" class="form-control" style="width: 50%;">
                                                        <option  value="eng">English</option>
                                                        <option  value="esp">Spanish</option>

                                                    </select>

                                                    <input required type="file" name="file">
                                                    <br>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- VIDEO -->
                <div class="tab-pane fade" id="video">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                {{#each artifact.Videos}}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseVideo{{id}}">{{title}}</a>
                                            </h4>
                                        </div>
                                        <div id="collapseVideo{{id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>{{title}}</p>
                                                <p>Language: {{language lang}}</p>

                                                <p>{{description}}</p>

                                                <iframe id="ytplayer" type="text/html" width="480" height="240" src="http://www.youtube.com/embed/{{link}}" frameborder="0">
                                                    </iframe>


                                                <br>
                                                <a href="/artifact/{{../artifact.id}}/video/{{id}}"><button class="btn btn-primary">Edit</button></a>



                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseVideoUpload">Add new video</a>
                                        </h4>
                                    </div>
                                    <div id="collapseVideoUpload" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <form role="form" action="/add_video" method="post">
                                                <div class="form-group">
                                                    <label>New video:</label>
                                                    <input required class="form-control" placeholder="Title" name="title" style="width: 50%;">
                                                    <input hidden="true" name="ArtifactId" value="{{artifact.id}}">
                                                    <br>
                                                    <input class="form-control" placeholder="Description" name="description" style="width: 50%;">
                                                    <br>
                                                    <input required class="form-control" placeholder="Enter youtube url" name="link" style="width: 50%;">
                                                    <br>
                                                    <select name="lang" class="form-control" style="width: 50%;">
                                                        <option  value="eng">English</option>
                                                        <option  value="esp">Spanish</option>
                                                    </select>
                                                    <br>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- IMAGES -->
                <div class="tab-pane fade" id="images">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                {{#each artifact.Images}}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseImage{{id}}">{{title}}</a>
                                            </h4>
                                        </div>
                                        <div id="collapseImage{{id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>{{title}}</p>
                                                <p>Language: {{language lang}}</p>

                                                <p>{{description}}</p>
                                                <img style="max-width: 100%;height: auto;" src={{link}}>

                                                <br>
                                                <a href="/artifact/{{../artifact.id}}/image/{{id}}"><button class="btn btn-primary">Edit</button></a>


                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseImageUpload">Add new image</a>
                                        </h4>
                                    </div>
                                    <div id="collapseImageUpload" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <form role="form" action="/add_image" method="post" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label>New image:</label>
                                                    <input required class="form-control" placeholder="Title" name="title" style="width: 50%;">
                                                    <input hidden="true" name="ArtifactId" value="{{artifact.id}}">
                                                    <br>
                                                    <input class="form-control" placeholder="Description" name="description" style="width: 50%;">
                                                    <input required type="file" name="file">
                                                    <br>
                                                    <select name="lang"  class="form-control" style="width: 50%;">
                                                        <option value="eng">English</option>
                                                        <option value="esp">Spanish</option>
                                                    </select>
                                                    <br>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                              </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- TEXT -->
                <div class="tab-pane fade" id="text">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                {{#each artifact.Texts}}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseText{{id}}">{{title}}</a>
                                            </h4>
                                        </div>
                                        <div id="collapseText{{id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>{{title}}</p>
                                                <p>Language: {{language lang}}</p>

                                                <p>{{description}}</p>
                                                <br>
                                                <a href="/artifact/{{../artifact.id}}/text/{{id}}"><button class="btn btn-primary">Edit</button></a>

                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTextUpload">Add new information</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTextUpload" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <form role="form" action="/add_text" method="post">
                                                <div class="form-group">
                                                    <label>New text:</label>
                                                    <input required class="form-control" placeholder="Title" name="title" style="width: 50%;">
                                                    <input hidden="true" name="ArtifactId" value="{{artifact.id}}">

                                                    <br>
                                                    <textarea required class="form-control" placeholder="Enter info" name="description"></textarea>
                                                    <br>
                                                    <select name="lang" class="form-control" style="width: 50%;">
                                                        <option  value="eng">English</option>
                                                        <option  value="esp">Spanish</option>
                                                    </select>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>

        </div>

    <h3>Exhibition</h3>
    <div style=" border-bottom: 1px solid #eee;"></div>
    <br>

    <form role="form" action="/add_exhibition" method="post">
        <div class="form-group">
            <label>Add object to an exhibitions</label>
            <select name="id" class="form-control">
                <option value="null">Select an exhibition...</option>
                {{#each exhibitions}}
                    <option value={{id}}>{{title}} - {{#sample description}}{{/sample}}</option>
                {{/each}}
            </select>
            <input hidden="true" name="ArtifactId" value="{{artifact.id}}">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>

    <h3>QR Code</h3>
    <div style=" border-bottom: 1px solid #eee;"></div>
    <br>

    <img src="https://api.qrserver.com/v1/create-qr-code/?size=400x400&data={{artifact.id}}" >
    <br>
    <br>
    </div>









</div>