{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{title}}</h1>
        </div>
    </div>

    <form action="/edit_museum" method="post">
        <div class="form-group">
            <label>Picture</label>
            <input type="file">
            <label>Name</label>
            <input id="museum_name" type="text" name="name" class="form-control" placeholder="Enter museum name.">
            <p class="help-block">Was: {{museum.name}}</p>

            <label>Hours</label>
            <input id="museum_hours" type="text" name="hoursOfOperation" class="form-control" placeholder="Enter hours information.">
            <p class="help-block">Was: {{museum.hoursOfOperation}}</p>

            <label>Description</label>
            <textarea id="museum_desc" type="text" name="description" class="form-control" placeholder="Enter short description."></textarea>
            <p class="help-block">Was: {{museum.description}}</p>

            <label>Phone</label>
            <input id="museum_hours" type="tel" name="phone" class="form-control" placeholder="Enter hours information.">
            <p class="help-block">Was: {{museum.phone}}</p>

            <label>Email</label>
            <input id="museum_hours" type="email" name="email" class="form-control" placeholder="Enter hours information.">
            <p class="help-block">Was: {{museum.email}}</p>

            <label>Location</label>
            <input id="museum_hours" type="url" name="location" class="form-control" placeholder="Enter hours information.">
            <p class="help-block">Was: {{museum.location}}</p>

            <button class="btn btn-default" type="submit">Submit</button>

        </div>
    </form>




</div>