{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{title}}
            <small>Edit museum information here.</small></h1>
        </div>
    </div>

    <form role="form" action="/edit_museum" method="post" enctype="multipart/form-data" >
        <div class="form-group">

            <h3>Picture</h3>
            <input type="file" name="file">

            <h3>Name</h3>
            <input type="text" name="name" class="form-control" placeholder="Enter museum name.">
            <p class="help-block">Was: {{museum.name}}</p>

            <h3>Hours</h3>
            <div class="row" >
                <div class="col-lg-2">
                    <p>Monday from</p>
                    <input class="form-control" type="time" name="mon_op">
                    <p>to</p>
                    <input class="form-control" type="time" name="mon_cl">
                </div>
                <div class="col-lg-2">
                    <p>Tuesday from</p>
                    <input class="form-control" type="time" name="tue_op">
                    <p>to</p>
                    <input class="form-control" type="time" name="tue_cl">
                </div>
                <div class="col-lg-2">
                    <p>Wednesday from</p>
                    <input class="form-control" type="time" name="wed_op">
                    <p>to</p>
                    <input class="form-control" type="time" name="wed_cl">
                </div>
                <div class="col-lg-2">
                    <p>Thursday from</p>
                    <input class="form-control" type="time" name="thu_op">
                    <p>to</p>
                    <input class="form-control" type="time" name="thu_cl">
                </div>
                <div class="col-lg-2">
                    <p>Friday from</p>
                    <input class="form-control" type="time" name="fri_op">
                    <p>to</p>
                    <input class="form-control" type="time" name="fri_cl">
                </div>

            </div>
            <p class="help-block">Was: {{museum.hoursOfOperation}}</p>

            <h3>Description</h3>
            <textarea name="description" class="form-control" placeholder="Enter short description."></textarea>
            <p class="help-block">Was: {{museum.description}}</p>

            <h3>Phone</h3>
            <input type="tel" name="phone" class="form-control" placeholder="Enter phone.">
            <p class="help-block">Was: {{museum.phone}}</p>

            <h3>Email</h3>
            <input type="email" name="email" class="form-control" placeholder="Enter email.">
            <p class="help-block">Was: {{museum.email}}</p>

            <h3>Location</h3>
            <input type="url" name="location" class="form-control" placeholder="Enter Google Maps link.">
            <p class="help-block">Was: {{museum.location}}</p>

            <h3>Terms</h3>
            <textarea name="terms" class="form-control" placeholder="Enter Terms of Service."></textarea>
            <p class="help-block">Was: {{museum.terms}}</p>

            <h3>About</h3>
            <textarea name="about" class="form-control" placeholder="Enter about information."></textarea>
            <p class="help-block">Was: {{museum.about}}</p>
            <br>

            <button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
            <br><br>

        </div>
    </form>




</div>