{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">{{title}}
            </h1>
        </div><br><br>
        <div class="col-lg-2">
            <a href="#" data-toggle="modal" data-target="#deleteConfirmation">
                <button class="btn btn-danger" type="submit">Delete Room</button>
            </a>
        </div>
    </div>

    <form role="form" action="/room/{{room.id}}/edit" method="post">
        <div class="form-group">



            <h3>Room Name</h3>
            <input type="text" name="name" class="form-control" placeholder="Enter a new room name.">
            <p class="help-block">Was: {{room.name}}</p>

            <h3>Description</h3>
            <input type="text" name="description" class="form-control" placeholder="Enter a new description.">
            <p class="help-block">Was: {{room.description}}</p>




            <button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
            <br><br>

        </div>
    </form>

    <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete Room Confirmation</h4>
                </div>
                <div class="modal-body">
                    Would you like to delete this room?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <form action="/room/{{room.id}}/delete" method="post">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>