{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit: {{title}}</h1>
        </div>
    </div>

    <form action="/event/{{id}}/edit" method="post">
        <div class="form-group">
            <label>Title</label>
            <input id="article_title" type="text" name="title" class="form-control" placeholder="Enter title." value="{{title}}">
            <p class="help-block">Was: {{title}}</p>

            <label>Date</label>
            <input type="date" id="article_date" class="form-control" name="date" style="width:20%">
            <br>
            <label>Time</label>
            <input type="time" class="form-control" name="time" style="width:20%">
            <p class="help-block">Was: {{eventDate}}</p>
            <br>
            <label>Text</label>
            <textarea id="article_text" id="article_time" type="text" name="description" class="form-control" placeholder="Enter text." rows="6">{{text}}</textarea>

            <input id="article_id" type="number" name="id"  value="{{id}}" hidden="true" >
            <select class="form-control" style="width: 50%;">
                <option>Select a language</option>

                <option name="lang" value="eng">English</option>
                <option name="lang" value="esp">Spanish</option>
            </select>
            <p class="help-block">Was: {{{lang}}}</p>

            <br>

            <button class="btn btn-default" type="submit">Submit</button>
            <!--<p class="help-block">Remember to fill out every field.</p>-->



        </div>
    </form>
</div>