{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">{{title}}</h1>
        </div>
        <div class="col-lg-2"><br><br>
            <a href="/new_event"><button type="button" class="btn btn-primary">New Event</button></a>

        </div>
    </div>

    <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover" id="article_table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Sample Text</th>
                <th style="text-align: center">Information</th>
            </tr>
            </thead>
            <tbody id="table_body">
            {{#each events}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{eventDate}}</td>
                    <td>{{{sample description}}}</td>
                    <td style="text-align: center"><a href="/event/{{id}}"><button class="btn btn-primary">View</button></a></td>


                </tr>
            {{/each}}

            </tbody>
        </table>
    </div>

</div>