{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{title}}<small> Museum analytics</small></h1>
        </div>
    </div>

    <div class="row">
    	<div class="col-lg-6">
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            <i class="fa fa-bar-chart-o fa-fw"></i> Usage Statistics
		        </div>
		        <div class="panel-body">
		            <div id="morris-bar-chart"></div>
		        </div>
		    </div>
		</div>
		<div class="col-lg-6">
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            <i class="fa fa-bar-chart-o fa-fw"></i> Application Downloads
		        </div>
		        <div class="panel-body">
		            <div id="morris-donut-chart"></div>
		        </div>
		    </div>
		</div>
	</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Top 10 Artifacts Viewed
        </div>
        <div class="panel-body">
            <div class="list-group">
                {{#each artifacts}}
                    <a href="/artifact/{{id}}" class="list-group-item">{{title}} - {{Artist.name}}<span class="pull-right text-muted small"><em>{{interactions}} interactions!</em></span></a>
                {{/each}}
            </div>
        </div>
    </div>

    <script src="../public/js/jquery.js"></script>

    {{{morrisbar users}}}
    {{{morrisdonut phones}}}




    <br><br><br>


</div>

