{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">{{title}}</h1>
        </div>
        <div class="col-lg-2"><br><br>
            <a href="/edit_museum_information"><button type="button" class="btn btn-default">Edit Information</button></a>
        </div>
    </div>
    <img src="{{museum.image}}" style="width:50%;height:50%">
    <br>
    <h4>Name:</h4>
    <p>{{museum.name}}</p>
    <div style="border-bottom: 1px solid darkgray;"></div>
    <h4>Hours of Operation:</h4>
    <p>{{museum.hoursOfOperation}}</p>
    <div style="border-bottom: 1px solid darkgray;"></div>
    <h4>Description:</h4>
    <p>{{{museum.description}}}</p>
    <div style="border-bottom: 1px solid darkgray;"></div>
    <h4>Phone:</h4>
    <p>{{museum.phone}}</p>
    <div style="border-bottom: 1px solid darkgray;"></div>
    <h4>Email:</h4>
    <p>{{museum.email}}</p>
    <div style="border-bottom: 1px solid darkgray;"></div>
    <h4>Location:</h4>
    <p>{{museum.location}}</p>
    <div style="border-bottom: 1px solid darkgray;"></div>
    <br>
</div>