{{> navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">{{title}}</h1>
        </div>
        <div class="col-lg-2">
            <br><br>
            <a href="/room/{{room.id}}/edit"><button class="btn btn-primary">Edit room</button></a>
        </div>
    </div>

    <h5>Description:</h5>
    <p>{{room.description}}</p>
    <div style=" border-bottom: 1px solid #eee;"></div>
    <br>


    <h4>iBeacons located in this room:</h4>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Room Id</th>
                <th>iBeacon ID</th>
                <th style="text-align: center">Remove</th>
            </tr>
            </thead>
            <tbody>
            {{#each room.Beacons}}
                <tr class="odd gradeX">
                    <td>{{RoomId}}</td>
                    <td>{{code}}</td>
                    <td style="text-align: center">
                        <form action="/remove_ibeacon" method="post">
                            <input hidden="true" name="RoomId" value="{{../room.id}}">
                            <input hidden="true" name="ibeacon_id" value="{{id}}">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form></td>
            {{/each}}

            </tbody>
        </table>
    </div>

    <form action="/add_to_room" method="post">
        <div class="form-group">
            <h3>Add an iBeacon to the room:</h3>
            <div style=" border-bottom: 1px solid #eee;"></div>
            <br>

            <input hidden="true" name="RoomId" value="{{room.id}}">
            <input id="ibeacon_id" type="text" name="code" class="form-control" placeholder="Enter UUID" style="width: 50%">
            <p class="help-block">Enter the UUID directly followed by both Major ID's</p>
            <p class="help-block">For example this beacon:
                UUID: B9407F30-F5F8-466E-AFF9-25556B57FE6D
                Major ID: 1
                Minor ID: 2
            </p>
            <p class="help-block">Would be entered as: B9407F30-F5F8-466E-AFF9-25556B57FE6D12</p>

            <button class="btn btn-default" type="submit">Submit</button>

        </div>
    </form>
    <br>
    <br>

</div>



